body{
    justify-content: center;
    box-sizing: border-box;
}

.absolute{
    position: absolute;
    top: 50px !important;
    inset: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.bg-shape1{
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;

}

.bg-shape2{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
}

.bg-shape3{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
}

.opacity-50{
    opacity: .5;
}

.bg-blur{
    filter:blur(90px)
}

.bg-primary{
    background-color: #C45647;
}

.bg-teal{
    background-color: #C45647;
}

.bg-purple{
    background-color: #C45647;
}