nav {
    background-color: #2C2A2A;
    color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: relative;
  }

  .navlayer{
    z-index: 4;
  }
  
  .logo-nav {
    /* font-size: 2rem; */
    width: 20%;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  nav li:hover {
    background-color: #777;
  }
  
  nav li:active {
    background-color: #555;
  }